<% include partials/header %>

<div class="container">
    <div class="row my-5">
        <form action="/dogs" method="POST">
            <fieldset>
                <legend>Create dog</legend>
                
                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input class="form-control" name="dog[name]" placeholder="Name" type="text" required>
                </div>
                
                <div class="form-group">
                    <label class="col-form-label">Age</label>
                    <input class="form-control" name="dog[age]" placeholder="Age" type="text" required>
                </div>
                
                <div class="form-group">
                    <label class="col-form-label">Gender</label>
                    <select class="custom-select" name="dog[gender]" required>
                        <option selected="">Select gender</option>
                        <option value=1>Boy</option>
                        <option value=2>Girl</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label class="col-form-label">Neutered</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dog[neutered]" id="dog-neutered-yes" value="true" checked>
                            <label class="form-check-label" for="dog-neutered-yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dog[neutered]" id="dog-neutered-no" value="false">
                            <label class="form-check-label" for="dog-neutered-no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="dog-description">Description</label>
                    <textarea class="form-control" name="dog[description]" id="dog-description" rows="3" required></textarea>
                </div>
                
                <div class="form-group">
                    <label class="col-form-label">Image link</label>
                    <input class="form-control" name="dog[image]" placeholder="Image link" type="text" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<% include partials/footer %>